pre {
  max-width: 100%; /* Giới hạn không quá container */
}
code {
  display: grid;
  font-size: 14px;
  padding-left: 1.5em; /* Add space between line numbers and content */
}

.line {
  counter-increment: count;
  display: flex;
  position: relative;
  height: 1.5em; /* Increase line height for better spacing */
}

.line::before {
  content: counter(count);
  padding-inline: 0.5em;
  opacity: 0.4;
  position: absolute;
  right: 100%; /* Position line numbers to the left of the content */
  text-align: right;
}

.annotation-span[data-tag="info"] {
  background-color: var(--tag-info); /* Blue for info */
}

.annotation-span[data-tag="notice"] {
  background-color: var(--tag-notice);
}

.annotation-span[data-tag="tip"] {
  background-color: var(--tag-tip);
}

.annotation-span[data-tag="caution"] {
  background-color: var(--tag-caution);
}

.annotation-span[data-tag="critical"] {
  background-color: var(--tag-critical);
}
.annotation-span[data-tag="error"] {
  background-color: var(--tag-error);
}
.annotation-span[data-tag="warning"] {
  background-color: var(--tag-warning);
}

.annotation-span.actived {
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.annotation-span-focused[data-tag="info"] {
  background-color: var(--tag-info-active);
}

.annotation-span-focused[data-tag="notice"] {
  background-color: var(--tag-notice-active);
}

.annotation-span-focused[data-tag="tip"] {
  background-color: var(--tag-tip-active);
}

.annotation-span-focused[data-tag="caution"] {
  background-color: var(--tag-caution-active);
}
.annotation-span-focused[data-tag="critical"] {
  background-color: var(--tag-critical-active);
}
.annotation-span-focused[data-tag="error"] {
  background-color: var(--tag-error-active);
}
.annotation-span-focused[data-tag="warning"] {
  background-color: var(--tag-warning-active);
}

.tippy-box {
  max-width: 900px;
}

.tippy-content {
  padding: 0px;
  background-color: var(--background);
  color: var(--foreground);
  border: 3px solid var(--border);
  word-wrap: break-word;
  overflow-wrap: break-word;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.custom-tooltip {
  max-width: 100%; /* hoặc giá trị bạn muốn */
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
